.p2_3 {
height: 580px;
width: 640px;
overflow: hidden;
background: url(mf.png) -0px -0px no-repeat;
}
.p4_3 {
height: 510px;
width: 640px;
overflow: hidden;
background: url(mf.png) -640px -0px no-repeat;
}
.p1_6 {
height: 500px;
width: 500px;
overflow: hidden;
background: url(mf.png) -0px -580px no-repeat;
}
.p3_3 {
height: 430px;
width: 348px;
overflow: hidden;
background: url(mf.png) -500px -580px no-repeat;
}
.hq5 {
height: 415px;
width: 465px;
overflow: hidden;
background: url(mf.png) -1280px -0px no-repeat;
}
.hq {
height: 390px;
width: 60px;
overflow: hidden;
background: url(mf.png) -1280px -415px no-repeat;
}
.da4-1 {
height: 180px;
width: 130px;
overflow: hidden;
background: url(mf.png) -1340px -415px no-repeat;
}
.da4-1.active {
height: 180px;
width: 130px;
overflow: hidden;
background: url(mf.png) -1470px -415px no-repeat;
}
.p3_1 {
height: 174px;
width: 212px;
overflow: hidden;
background: url(mf.png) -1340px -595px no-repeat;
}
.p2_1 {
height: 160px;
width: 130px;
overflow: hidden;
background: url(mf.png) -1600px -415px no-repeat;
}
.p4_2 {
height: 133px;
width: 640px;
overflow: hidden;
background: url(mf.png) -0px -1080px no-repeat;
}
.da4-2 {
height: 130px;
width: 165px;
overflow: hidden;
background: url(mf.png) -1552px -595px no-repeat;
}
.da4-3.active {
height: 130px;
width: 165px;
overflow: hidden;
background: url(mf.png) -1280px -805px no-repeat;
}
.da4-2.active {
height: 130px;
width: 165px;
overflow: hidden;
background: url(mf.png) -1445px -805px no-repeat;
}
.da4-3 {
height: 130px;
width: 165px;
overflow: hidden;
background: url(mf.png) -1280px -935px no-repeat;
}
.p3_2 {
height: 130px;
width: 640px;
overflow: hidden;
background: url(mf.png) -640px -1080px no-repeat;
}
.p2_2 {
height: 125px;
width: 640px;
overflow: hidden;
background: url(mf.png) -0px -1213px no-repeat;
}
.da6-2 {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -1610px -805px no-repeat;
}
.da6-2.active {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -1445px -935px no-repeat;
}
.da6-3 {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -1562px -935px no-repeat;
}
.da6-1 {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -640px -1213px no-repeat;
}
.da6-3.active {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -757px -1213px no-repeat;
}
.da6-1.active {
height: 117px;
width: 117px;
overflow: hidden;
background: url(mf.png) -874px -1213px no-repeat;
}
.testbtn {
height: 95px;
width: 290px;
overflow: hidden;
background: url(mf.png) -991px -1213px no-repeat;
}
.hq3 {
height: 90px;
width: 300px;
overflow: hidden;
background: url(mf.png) -1281px -1213px no-repeat;
}
.hq4 {
height: 90px;
width: 310px;
overflow: hidden;
background: url(mf.png) -0px -1338px no-repeat;
}
.da5-2 {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -310px -1338px no-repeat;
}
.da5-3 {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -390px -1338px no-repeat;
}
.da5-2.active {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -470px -1338px no-repeat;
}
.da5-1.active {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -550px -1338px no-repeat;
}
.da5-1 {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -630px -1338px no-repeat;
}
.da5-3.active {
height: 79px;
width: 80px;
overflow: hidden;
background: url(mf.png) -710px -1338px no-repeat;
}
.da7-1 {
height: 79px;
width: 219px;
overflow: hidden;
background: url(mf.png) -790px -1338px no-repeat;
}
.da7-2 {
height: 79px;
width: 219px;
overflow: hidden;
background: url(mf.png) -1009px -1338px no-repeat;
}
.da7-1.active {
height: 79px;
width: 219px;
overflow: hidden;
background: url(mf.png) -1228px -1338px no-repeat;
}
.da7-2.active {
height: 79px;
width: 219px;
overflow: hidden;
background: url(mf.png) -1447px -1338px no-repeat;
}
.da9-2.active {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -1666px -1338px no-repeat;
}
.da9-3 {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -0px -1428px no-repeat;
}
.da9-3.active {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -78px -1428px no-repeat;
}
.da9-2 {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -156px -1428px no-repeat;
}
.da9-1.active {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -234px -1428px no-repeat;
}
.da9-1 {
height: 78px;
width: 78px;
overflow: hidden;
background: url(mf.png) -312px -1428px no-repeat;
}
.da3-2 {
height: 78px;
width: 193px;
overflow: hidden;
background: url(mf.png) -390px -1428px no-repeat;
}
.da3-2.active {
height: 78px;
width: 193px;
overflow: hidden;
background: url(mf.png) -583px -1428px no-repeat;
}
.da3-1 {
height: 78px;
width: 193px;
overflow: hidden;
background: url(mf.png) -776px -1428px no-repeat;
}
.da3-1.active {
height: 78px;
width: 193px;
overflow: hidden;
background: url(mf.png) -969px -1428px no-repeat;
}
.da10-3.active {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -1162px -1428px no-repeat;
}
.da10-2.active {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -1364px -1428px no-repeat;
}
.da10-1.active {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -0px -1506px no-repeat;
}
.da10-1 {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -202px -1506px no-repeat;
}
.da10-3 {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -404px -1506px no-repeat;
}
.da10-2 {
height: 71px;
width: 202px;
overflow: hidden;
background: url(mf.png) -606px -1506px no-repeat;
}
.da8-2 {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -808px -1506px no-repeat;
}
.da8-3 {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -1014px -1506px no-repeat;
}
.da8-1 {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -1220px -1506px no-repeat;
}
.da8-1.active {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -1426px -1506px no-repeat;
}
.da8-3.active {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -0px -1577px no-repeat;
}
.da8-2.active {
height: 69px;
width: 206px;
overflow: hidden;
background: url(mf.png) -206px -1577px no-repeat;
}
.nb.active {
height: 65px;
width: 65px;
overflow: hidden;
background: url(mf.png) -1679px -935px no-repeat;
}
.lm {
height: 65px;
width: 65px;
overflow: hidden;
background: url(mf.png) -412px -1577px no-repeat;
}
.nb {
height: 65px;
width: 65px;
overflow: hidden;
background: url(mf.png) -477px -1577px no-repeat;
}
.lm.active {
height: 65px;
width: 65px;
overflow: hidden;
background: url(mf.png) -542px -1577px no-repeat;
}
.da2-2 {
height: 65px;
width: 175px;
overflow: hidden;
background: url(mf.png) -607px -1577px no-repeat;
}
.da2-2.active {
height: 65px;
width: 175px;
overflow: hidden;
background: url(mf.png) -782px -1577px no-repeat;
}
.da2-3 {
height: 65px;
width: 220px;
overflow: hidden;
background: url(mf.png) -957px -1577px no-repeat;
}
.da2-3.active {
height: 65px;
width: 220px;
overflow: hidden;
background: url(mf.png) -1177px -1577px no-repeat;
}
.p1_2 {
height: 60px;
width: 445px;
overflow: hidden;
background: url(mf.png) -0px -1646px no-repeat;
}
.hq6 {
height: 55px;
width: 175px;
overflow: hidden;
background: url(mf.png) -445px -1646px no-repeat;
}
.hq1 {
height: 50px;
width: 200px;
overflow: hidden;
background: url(mf.png) -620px -1646px no-repeat;
}
.hq2 {
height: 50px;
width: 200px;
overflow: hidden;
background: url(mf.png) -820px -1646px no-repeat;
}
.da2-1.active {
height: 50px;
width: 230px;
overflow: hidden;
background: url(mf.png) -1020px -1646px no-repeat;
}
.da2-1 {
height: 50px;
width: 230px;
overflow: hidden;
background: url(mf.png) -1250px -1646px no-repeat;
}
.p4_6 {
height: 48px;
width: 72px;
overflow: hidden;
background: url(mf.png) -1480px -1646px no-repeat;
}
.p1_4 {
height: 40px;
width: 80px;
overflow: hidden;
background: url(mf.png) -1552px -725px no-repeat;
}
.da1-2 {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1552px -1646px no-repeat;
}
.da1-1.active {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1745px -0px no-repeat;
}
.da1-1 {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1745px -40px no-repeat;
}
.da1-2.active {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1745px -80px no-repeat;
}
.da1-3 {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1745px -120px no-repeat;
}
.da1-3.active {
height: 40px;
width: 125px;
overflow: hidden;
background: url(mf.png) -1745px -160px no-repeat;
}
.da1next {
height: 40px;
width: 180px;
overflow: hidden;
background: url(mf.png) -0px -1706px no-repeat;
}
.da2next {
height: 40px;
width: 180px;
overflow: hidden;
background: url(mf.png) -180px -1706px no-repeat;
}
.p4_5 {
height: 33px;
width: 54px;
overflow: hidden;
background: url(mf.png) -1745px -200px no-repeat;
}
.p1_3 {
height: 30px;
width: 60px;
overflow: hidden;
background: url(mf.png) -1799px -200px no-repeat;
}
.p7_3 {
height: 520px;
width: 600px;
overflow: hidden;
background: url(mft.png) -0px -0px no-repeat;
}
.p6_3 {
height: 500px;
width: 500px;
overflow: hidden;
background: url(mft.png) -600px -0px no-repeat;
}
.p8_3 {
height: 500px;
width: 600px;
overflow: hidden;
background: url(mft.png) -0px -520px no-repeat;
}
.p6_4 {
height: 480px;
width: 310px;
overflow: hidden;
background: url(mft.png) -600px -520px no-repeat;
}
.p5_3 {
height: 480px;
width: 640px;
overflow: hidden;
background: url(mft.png) -1100px -0px no-repeat;
}
.da09-1 {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -1100px -480px no-repeat;
}
.da09-3 {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -1380px -480px no-repeat;
}
.da09-2.active {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -0px -1020px no-repeat;
}
.da09-2 {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -280px -1020px no-repeat;
}
.da09-1.active {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -560px -1020px no-repeat;
}
.da09-3.active {
height: 310px;
width: 280px;
overflow: hidden;
background: url(mft.png) -840px -1020px no-repeat;
}
.p5_5 {
height: 190px;
width: 200px;
overflow: hidden;
background: url(mft.png) -1100px -790px no-repeat;
}
.da05-2.active {
height: 160px;
width: 230px;
overflow: hidden;
background: url(mft.png) -1300px -790px no-repeat;
}
.da05-2 {
height: 160px;
width: 230px;
overflow: hidden;
background: url(mft.png) -1120px -1020px no-repeat;
}
.da05-3.active {
height: 160px;
width: 250px;
overflow: hidden;
background: url(mft.png) -1350px -1020px no-repeat;
}
.da05-3 {
height: 160px;
width: 250px;
overflow: hidden;
background: url(mft.png) -0px -1330px no-repeat;
}
.da05-1 {
height: 140px;
width: 180px;
overflow: hidden;
background: url(mft.png) -1530px -790px no-repeat;
}
.da05-1.active {
height: 140px;
width: 180px;
overflow: hidden;
background: url(mft.png) -250px -1330px no-repeat;
}
.p5_4 {
height: 90px;
width: 90px;
overflow: hidden;
background: url(mft.png) -430px -1330px no-repeat;
}
.p5_7 {
height: 90px;
width: 100px;
overflow: hidden;
background: url(mft.png) -520px -1330px no-repeat;
}
.p6_8 {
height: 25px;
width: 25px;
overflow: hidden;
background: url(mft.png) -1660px -480px no-repeat;
}
.p6_9 {
height: 25px;
width: 25px;
overflow: hidden;
background: url(mft.png) -1685px -480px no-repeat;
}
.p6_10 {
height: 25px;
width: 25px;
overflow: hidden;
background: url(mft.png) -1710px -480px no-repeat;
}
.p10_3 {
height: 460px;
width: 460px;
overflow: hidden;
background: url(mff.png) -0px -0px no-repeat;
}
.p8_1 {
height: 180px;
width: 140px;
overflow: hidden;
background: url(mff.png) -460px -0px no-repeat;
}
.p10_1 {
height: 180px;
width: 280px;
overflow: hidden;
background: url(mff.png) -600px -0px no-repeat;
}
.p9_1 {
height: 180px;
width: 590px;
overflow: hidden;
background: url(mff.png) -0px -460px no-repeat;
}
.p6_1 {
height: 170px;
width: 110px;
overflow: hidden;
background: url(mff.png) -600px -180px no-repeat;
}
.p5_1 {
height: 170px;
width: 280px;
overflow: hidden;
background: url(mff.png) -590px -460px no-repeat;
}
.p6_2 {
height: 140px;
width: 560px;
overflow: hidden;
background: url(mff.png) -0px -640px no-repeat;
}
.p10_2 {
height: 140px;
width: 640px;
overflow: hidden;
background: url(mff.png) -880px -0px no-repeat;
}
.p8_4 {
height: 130px;
width: 160px;
overflow: hidden;
background: url(mff.png) -880px -140px no-repeat;
}
.p8_5 {
height: 130px;
width: 160px;
overflow: hidden;
background: url(mff.png) -1040px -140px no-repeat;
}
.p5_2 {
height: 130px;
width: 510px;
overflow: hidden;
background: url(mff.png) -880px -270px no-repeat;
}
.p8_2 {
height: 120px;
width: 500px;
overflow: hidden;
background: url(mff.png) -880px -400px no-repeat;
}
.p5_10 {
height: 90px;
width: 240px;
overflow: hidden;
background: url(mff.png) -1200px -140px no-repeat;
}
.p7_2 {
height: 70px;
width: 570px;
overflow: hidden;
background: url(mff.png) -880px -520px no-repeat;
}
.p9_2 {
height: 70px;
width: 570px;
overflow: hidden;
background: url(mff.png) -880px -590px no-repeat;
}
.p5_8 {
height: 60px;
width: 180px;
overflow: hidden;
background: url(mff.png) -880px -660px no-repeat;
}
.p5_9 {
height: 60px;
width: 220px;
overflow: hidden;
background: url(mff.png) -1060px -660px no-repeat;
}
.p6_7 {
height: 50px;
width: 80px;
overflow: hidden;
background: url(mff.png) -1440px -140px no-repeat;
}
.p6_5 {
height: 50px;
width: 90px;
overflow: hidden;
background: url(mff.png) -1390px -270px no-repeat;
}
.p6_6 {
height: 50px;
width: 110px;
overflow: hidden;
background: url(mff.png) -1390px -320px no-repeat;
}
